<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATnRU7yYbxfIpLh10-XeRG092elaDfmlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>773711962239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>voicenotes.yiqiu</string>
	<key>PROJECT_ID</key>
	<string>voicenotes-92a03</string>
	<key>STORAGE_BUCKET</key>
	<string>voicenotes-92a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773711962239:ios:a2fcf5ac8fd49f27cc1f4a</string>
</dict>
</plist>